
.body {
    position: center;
    background-color: blue;
    /* margin-inline : 20% ; */
    width: 600px;
    margin: 0 auto 0 auto;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 10px;
}

.text-1{
    font-size: 1em;
    font-weight: 400;
  }
.square{
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 1em;
    margin: 5px;
    padding: 10px;
    border: solid 5px #fff;
    float: left;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
.footer {
    background-color: #03632b;
    color: #fff;
    padding: 0.001em;
    text-align: center;
    font-size: 1em;
    font-family: "Gill Sans", sans-serif;
}
.header {
    background-color: #03632b;
    color: #fff;
    padding: 0.001em;
    text-align: center;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
.part2{
    margin:5px;
    display: flex;
    vertical-align: auto;
}
.list-part2{
  margin-top: 0;
}
.red-text {
  color: rgb(177, 31, 31);
}
table, td, tr {
  vertical-align: bottom;
  margin-left: 100px;
  border: 1px solid white;
  width: 150px;
  height: 30px;
  text-align: center;

}
#td1 {
  background-color: green;
}
#td7 {
  background-color: red;
} 

.link {
  text-align: center;
  float: center;
}
.img{
  float: right;
}
.heading2{
  word-spacing: 20px;
}
ul.values li:first-child {
  font-size: 1.3em;
}
ul.values li:last-child {
  font-size: 1.3em;   
}
ul.values li:nth-child(2) {
  color: rgb(64, 203, 241);
  font-size: 1.3em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-palette: bold;
  letter-spacing: 20px;
}
ul.values li:nth-child(n){
  margin:30px;
}

.secondlist{
  list-style: none;
}
.secondlist li:nth-child(n){
    margin-bottom: 15px;
}
 