body{
    margin:0;  
    color:black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
    display: inline;
}
li{
    margin: 2em 0; 
    border-radius: 2px;  
    padding: 3px 0 3px 2px;
}
p, h3{
    margin: 20px;
}
a{
    text-decoration: none;
    color:#2e5473;
}
header{
    top:0;
    background-color: #2e5473;
    width: 100%;
    position: fixed;
}
.main{
    display: flex;
    background-color: #e1e5eb;
    height: 100%;
}
.nav{
    margin:2vh 0 2vh 14vw;
    width: 15%;
    color: #3b5998;
    overflow: hidden;
}
.side-post{
    width:25%;
    position: fixed;
    top: 5vh;
    right: 2vw;
}
.side{
    margin:2vh;
    width:50%;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
    background-color: #edeef0;
}
.side p{
    background-color: #e1e5eb;
}
.main-post{
    margin: 2vh 0;
    width: 50%;
    display: block;
}
.post-comment, .post-like{
    color:#3b5998;
}
.post{
    margin:5vh 6vw 5vh 3vw;
    width: 28vw;
    border-radius: 10px;
    border: 2px solid #d0d0d0;
    background-color: #edeef0;
    overflow: hidden;
}
.line{
    margin-inline:1vw;
    width: 93%;
    height: 1px;
    background-color: #d0d0d0;
}
.post-like{
    margin-left: 1vw;
    float: left;
    margin-bottom: 3px;
}
.post-comment{
    margin-right: 1vw;
    float:right;
    margin-bottom: 3px;
}
.post-img{
    max-width: 91%;
    max-height: 91%;
    margin:20px;
}
footer{
    color: gray;
    width: 100%;
    background-color: gainsboro;
    text-align: center;
}

#logo {
    margin-left: 6%;
}
@media (max-width:1000px) or (orientation:portrait){   
    .main{
        height: 120%;
        max-width: 100%;
        background-color: #d0d0d0;
        overflow: hidden;
    }
    .side-post{
        display: none;
    }
    .main-post{
        margin: vh 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-post .post{
        width: 70%;
        align-self: center;
        
   
}
}


@media  (max-width:600px){
    .main{
        display:flex;
        flex-direction: column;
        align-content: center;
    }
 
    .nav{
        padding:0;
        width: 100%;
    }
    .nav ul{
        padding-inline: 2vw;
    }
    .nav li{
        display: inline-flex;
        padding-inline: 2vw;
    }
    .main-post .post{
        width: 90%;

    }
}


li:hover{
    background-color: #d0d0d0;
}

.post p::selection{
    background-color: #d0d0d0;
    color:green;
}