body{
    margin: 0;
}
.main{
    width: 60%;
    margin:auto;
    z-index: auto;
}
h3, p{
    margin : 0 2em 1em 2em;
}
button{
    font-size: 0.8em;
    background-color: #2CEE25;
    color: white;
    align-self: center;
    justify-self: center;
}
.news{
    background-color: #1EE5EC;
    height: 120px;
    width: 100%;
    overflow: hidden;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
}
.news:hover{
    background-color: red;
}
.pop-head{
    align-self: center;
}
.pop-up{
    display: none;
    flex-direction: column;
    align-items: center;
    position:fixed;
    height: 230px;
    width: 450px;
    background-color: yellowgreen;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    font-size:0.9em;
}
.pop-up p{
    margin:0 2em 2em 2em;
}
